<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HOC NGAY</button>
            <h5>Trình độ khóa học: {{courses.level}}</h3>
        </div>
        <div class="col-lg-3">
            <h2>Xây dựng web thực tế với Nodejs</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{courses.vidid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{courses.description}}</p>
        </div>
    </div>
</div>